// Importa fonte do Google - Raleway 300 & 700
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Cabin');

// Fontes
$karla-font: 'Karla', sans-serif;
$merriweather-font: 'Merriweather', sans-serif;
$cabin-font: 'Cabin', sans-serif;

// Cores
$gray-primary: #999;
$gray-light: #ccc;
$gray-lighter: #f2f2f2;
$red-primary: #ab362c;

// Medias
$break-medium: 770px;
$break-small: 570px;

// Sombras
$shadow-down: 0px 3px 18px 0px rgba(0,0,0,0.5);
$shadow-light: 0px 1px 2px 0px rgba(0,0,0,0.2);

* {box-sizing: border-box;}

body {
    font-family: $merriweather-font;
    margin: 0;
    background-color: gray;
    background: url(../img/interior-barbearia.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

// Utilidades
.t-center {
    text-align: center;
}
.t-white {
    color: white;
}
.t-red {
    color: $red-primary;
}
.active {
    display: block !important;
}
.bold {
    font-weight: bold;
}
.spacing-v {
    margin: 4em auto !important;
}

@import 'navbar';

// GRID
.grid {
    display: grid;
    justify-items: center;
    align-items: center;

    &.g-4 {
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: $break-medium) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $break-small) {
            grid-template-columns: 1fr;
        }
    }
    &.g-2 {
        grid-template-columns: 1fr 1fr;

        @media (max-width: $break-medium) {
            grid-template-columns: 1fr;
        }
    }
    &.gap-2 {
        grid-gap: 2em;
    }
}
.flex {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;

    & li {
        list-style-type: none;
    }
}


h1 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 400;
}

hr {
    border: solid $gray-light;
    border-width: 1px 0 0;
    margin: 0 2em;
}

.row {
    width: 90%;
    margin: 0 auto;
    max-width: 70em;
}

.small-row {
    width: 90%;
    margin: 0 auto;
    max-width: 35em;
}

// =================
// SECTIONS
// =================
section:not(#mainBanner) {
    background-color: white;
    padding-bottom: 5em;
}
footer {
    background-color: $gray-lighter;
}

.title {
    padding-top: 2em;
}
.subtitle {
    font-family: $cabin-font;
    font-size: 1em;
    line-height: 1.5;
    font-weight: normal;
    padding-bottom: 1.5em;
}

#mainBanner {
    height: 90vh;

    & .main-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .main-logo img {
        margin-top: 4em;
        margin-bottom: 1em;
        width: 70%;
        @media (max-width: $break-medium){width: 85%;}
        @media (max-width: $break-small){width: 100%;}
    }
}

// #team
.team-photo {

    & img {
        width: 100%;
        transition: .2s ease-out;
        &:hover {
            transform: scale(1.05);
            box-shadow: $shadow-down;
        }
    }
    & h5 {
        font-size: 1.125em;
        font-weight: normal;
        margin: 0;
        margin-top: 0.8em;
    }
    & p {
        font-family: $cabin-font;
        font-size: 0.75em;
        margin: 0;
    }
}

// #workplace
.workplace-gallery {

    position: relative;

    & img {
        display: none;
        margin: 0 auto;
        box-shadow: $shadow-down;
        width: 80%;
        @media (max-width: $break-medium){width: 90%;}
        @media (max-width: $break-small){width: 100%;}
    }

    & .gallery-nav {
        position: absolute;
        top:50%;
        color: $red-primary;
        text-shadow: $shadow-down;
        cursor: pointer;
        transition: .1s ease-out;

        &.gallery-next{right:3px;}
        &.gallery-prev{left:3px;}

        &:hover {
            transform: scale(1.2);
            color: darken($red-primary, 5%);
        }
    }
}

// #services
.services-icons {
    flex-wrap: wrap;
    text-align: center;

    & li {
        margin: 1.4em;
        &:hover {
            & img {opacity: 1;}
            & h5 {color: $red-primary;}
        }
    }

    & img {
        width: 6.5em;
        opacity: 0.5;
        transition: .4s ease;
    }

    & h5 {
        font-size: 1.3em;
        font-weight: normal;
        color: $gray-primary;
        margin: 0;
        transition: .4s ease;
    }
}

#contact {
    background-color: $gray-lighter !important;

    & p {
        text-align: center;
        font-family: $cabin-font;
    }

    & .google-maps {
        position: relative;
        padding-bottom: 45%;
        height: 0;
        overflow: hidden;
        margin-bottom: 20px;
        border: 1px solid #cccccc;
    }

    & .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & .phones {
        flex-wrap: wrap;
        & li {
            margin: 1em;
        }
        & i {
            color: lighten($red-primary, 10%);
            transition: .2s ease;
            &:hover {
                color: $red-primary;
            }
        }
    }

    & .story {
        font-size: 0.8em;
        line-height: 1.7em;

        & p {
            margin: 0.3em;
        }
    }
}

// Footer
.footer-social {
    text-align: center;
    font-size: 1.7em;

    i {
        color: $gray-primary;
        margin: 1em 0.4em;
        transition: .3s ease;
        &:hover {
            color: darken($gray-primary, 20%);
        }
    }
}

.contact-form {
    background-color: darken($gray-lighter, 3%);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 1em;
    width: 100%;

    & input, & textarea {
        margin: 5px;
        padding: 10px 7px;
        width: 97%;
        border: none;
        border-radius: 3px;
        box-shadow: $shadow-light;

        &[type="submit"] {
            padding: 10px;
            cursor: pointer;
            color: white;
            background-color: $red-primary;
            border: none;
            border-radius: 3px;

            &:hover {
                background-color: darken($red-primary, 3%);
            }
        }
    }
}
