// Importa fonte do Google - Raleway 300 & 700
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Cabin');

// Fontes
$raleway-font: 'Raleway', sans-serif;
$karla-font: 'Karla', sans-serif;
$merriweather-font: 'Merriweather', sans-serif;
$cabin-font: 'Cabin', sans-serif;

// Cores
$gray-primary: #999;
$gray-light: #ccc;
$red-primary: #ab362c;

// Medias
$break-medium: 770px;
$break-small: 570px;

// Sombras
$shadow-down: 0px 3px 18px 0px rgba(0,0,0,0.5);

* {box-sizing: border-box;}

body {
    font-family: $merriweather-font;
    margin: 0;
    background-color: gray;
    background: url(../img/interior-barbearia.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

// Utilidades
.t-center {
    text-align: center;
}
.t-white {
    color: white;
}
.t-red {
    color: $red-primary;
}

@import 'navbar';

// GRID
.grid {
    display: grid;
    justify-items: center;
    align-items: center;

    &.g-4 {
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: $break-medium) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $break-small) {
            grid-template-columns: 1fr;
        }
    }
    &.gap-2 {
        grid-gap: 2em;
    }
}


h1 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 400;
}

.row {
    width: 90%;
    margin: 0 auto;
    max-width: 70em;
}

.small-row {
    width: 90%;
    margin: 0 auto;
    max-width: 35em;
}

// SECTIONS
section:not(#mainBanner) {
    background-color: white;
    padding-bottom: 5em;
}

.title {
    padding-top: 2em;
}
.subtitle {
    font-family: $cabin-font;
    font-size: 1em;
    line-height: 1.5;
    font-weight: normal;
    padding-bottom: 1.5em;
}

#mainBanner {
    height: 90vh;
}
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo img {
    margin-top: 4em;
    margin-bottom: 1em;
    width: 70%;
    @media (max-width: $break-medium){width: 85%;}
    @media (max-width: $break-small){width: 100%;}
}

#team {

    & .team-photo {
        & img {
            width: 100%;
            transition: .2s ease-out;
            &:hover {
                transform: scale(1.05);
                box-shadow: $shadow-down;
            }
        }
        & h5 {
            font-size: 1.125em;
            font-weight: normal;
            margin: 0;
            margin-top: 0.8em;
        }
        & p {
            font-family: $cabin-font;
            font-size: 0.75em;
            margin: 0;
        }
    }
}

#workplace {

    & .workplace-gallery {
        position: relative;
        & img {
            display: none;
            margin: 0 auto;
            box-shadow: $shadow-down;
            width: 80%;
            @media (max-width: $break-medium){width: 90%;}
            @media (max-width: $break-small){width: 100%;}
        }
        & .active {
            display: block;
        }
    }
}

.gallery-nav {
    position: absolute;
    top:50%;
    color: $red-primary;
    text-shadow: $shadow-down;
    cursor: pointer;
    transition: .1s ease-out;

    &#galleryNext{right:5px;}
    &#galleryPrev{left:5px;}

    &:hover {
        transform: scale(1.2);
        color: darken($red-primary, 5%);
    }
}

.flex {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;

    & li {
        list-style-type: none;
    }
}

.services-icons {
    flex-wrap: wrap;
    text-align: center;

    & li {
        margin: 1.4em;
        &:hover {
            & img {opacity: 1;}
            & h5 {color: $red-primary;}
        }
    }

    & img {
        width: 6.5em;
        opacity: 0.5;
        transition: .4s ease;
    }

    & h5 {
        font-size: 1.3em;
        font-weight: normal;
        color: $gray-primary;
        margin: 0;
        transition: .4s ease;
    }
}

.google-maps {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact {
    & p {
        text-align: center;
        font-family: $cabin-font;
    }
}
.bold {
    font-weight: bold;
}

.phones {
    flex-wrap: wrap;
    & li {
        margin: 1em;
    }
    & i {
        color: lighten($red-primary, 10%);
        transition: .2s ease;
        &:hover {
            color: $red-primary;
        }
    }
}

.story {
    font-size: 0.8em;
    line-height: 1.7em;
    p {
        margin: 0.3em;
    }
}
